{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Category:
      <dd><input type="text" size="30" name="category">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>
  <form action="{{ url_for('show_filter') }}" method="post" class="category-filter">
    <select name="categories" id="categories">
    <option value="none" selected disabled hidden>Category</option>
    <option value="Home">No Filters</option>
      {% for category in categories %}
        <option value="{{ category.category }}">{{ category.category }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="filter">
  </form>
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2><h3><u>{{ entry.category }}</u></h3>{{ entry.text|safe }}

        {#im not sure why but getting the id does not work, ive checked and im not sure what to do#}
        <form action="{{ url_for('delete_entry') }}" method="post" class="delete_button">
            <input type="hidden" name="id" value="{{ entry.id }}">
            <button value="delete" type="submit">x</button>
        </form>

        <form action="{{ url_for('edit_template') }}" method="post" class="edit_button">
            <input name="id" value="{{ entry.id }}" type="hidden">
            <button value="edit" type="submit">edit</button>
        </form>

    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
